/* ---HEADER--- */
header {
  background-image: url("../pictures/indigo.bmp"); /*  background: arrière plan*/
  /*background-image définit l'image l'arrière plant du le header */
}

.imgLogo {
  /* se référère à la classe imgLogo qui est l'image du logo */
  width: 7%; /* indique la largeur du logo */
  margin: 1%; /* indique l'épaisseur du margin (marge), épaisseur extérieure de la boite à l'extérieur de la zone de bordure*/
}

.barNavLien {
  padding-left: 75%; /* indique une valeur pour le padding (rembourrage), entre la partie contenu et la bordure est de 75% de la place et cela sur la partie gauche de la boîte*/
}

/* ---FORM RECHERCHE--- */
form {
  background-color: rgb(195, 22, 195);
}

/* ---MAIN--- */
main {
  background-color: aquamarine; /* couleur d'arrière plan */
  padding: 5% 0; /* indique l'épaisseur du padding (rembourrage), épaisseur intérieure de la boite, entre la bordure et la partie texte/contenu */
  margin: 5%;
}

h1 {
  width: 26%;
  padding: 0 5%;
}

.bordureBlack {
  border: black solid 1px;
}

.bordureMagenta {
  border: magenta solid 1px;
}

.bordureBlue {
  border: blue solid 1px;
}

.bordureBrown {
  border: brown solid 1px;
}

/* ---FOOTER--- */
footer {
  background-color: rgb(19, 27, 111);
  margin: 5% 0 0 0; /* détermine que le margin sera de 5% uniquement sur le dessus de la boîte. Semblable en tout point à un margin-top en terme d'effet et ce dernier serait plus court*/
  color: grey;
}
nav {
  padding: 2% 6%;
}

h3 {
  font-size: 150%; /* détermine que la taille du h3 doit avoir une police qui fait 150 % de sa taille initiale*/
  height: 30%; /* détermine la hauteur de l'élément block h3, en dépit du nombre de lignes contenues dedans. */
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none; /* permet d'agir sur l'apparence de la puce de la liste*/
}

/* ---@MEDIA--- */
@media (max-width: 540px) {
  /* HEADER */
  .imgLogo {
    width: 20%;
    margin: 2%;
  }
  .barNavLien {
    padding-left: 39%;
  }
}
@media (max-width: 960px) {
  /* HEADER */
  .imgLogo {
    width: 10%;
    margin: 2%;
  }
  .barNavLien {
    padding-left: 55%;
  }
}
